<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/header' %>

  <body>
    <%= render 'layouts/navbar' %>
          <%= bootstrap_flash %>
          <%= yield %>

  </body>

  <%= render "layouts/footer" %>




  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

</html>
